* {
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family: 'Nunito', sans-serif;
}

.wrapper{
  padding-top:4em;
  padding-left:4em;
}

p {
  font-size: 16px;
  line-height: 22px;
}
br {
  display: none;
  @media (max-width:869px) {
    display: block;
  }
}
.card {
  display:flex;
  flex-direction:column;
  width: 780px;
  height: 340px;
  padding:40px;
  background-color: #FFFFFF;
  border:0.5px solid orange;  

  @media (max-width:869px) {
    width: 320px;
    height: 410px;
    padding: 16px;
  }
  
    p.order-number {
      color: #73798C;
      margin-bottom: 15px;
    }
    .card-text {
      display:flex;
      justify-content: space-between;
      // font-weight:600;
      font-size: 36px;
      line-height: 49px;
      margin-bottom: 31px;
      
      h2 {
        font-size: 24px;
        line-height: 33px;
        &:last-child {
          @media (max-width:869px) {
              display: none;
          }
        }
      }
    }
    span {
      border-bottom:4px solid #E2E2E9;
      margin-bottom: 9px;
      @media (max-width:869px) {
        display:none;
      }
    }
    .address {
      margin-bottom: 70px;

      @media (max-width:869px) {
        background-color: #F3F3F7;
        border-radius: 10px;
        width: 288px;
        height: 106px;
        padding: 18px 20px;
      }
    }

    .card-buttons {
      display:flex;
      justify-content: space-between;
      @media (max-width:869px) {
        flex-direction: column;
      }

      button {
        display: flex;
        justify-content: center;
        border:none;
        border-radius: 1000px;
        padding: 13px 0;
        font-size: 16px;
        line-height: 22px;
        cursor: pointer;
        
        width: 160px;
        height: 48px;
        color: #D15700;
        background-color: #FFF0E6;

        @media (max-width:869px) {
          width: 288px;
          height: 48px;
          padding: 13px 83px;
          margin-bottom: 10px;
        }

        &:last-child {
          width: 190px;
          height: 48px;
          color: #FFFFFF;
          background-color: #F96900;
        
          @media (max-width:869px) {
          width: 288px;
          height: 48px;
          padding: 13px 0;
        }
        }
      }
    }
  }