* {
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family: 'Nunito', sans-serif;
}

.wrapper{
  padding-top:4em;
  padding-left:4em;
  display:flex;
  flex-direction:column;

  div {
    width:7rem;
    height:2.5rem;
    padding:0.5rem;
    border-radius:3rem;
    text-align:center;
    cursor:pointer;
    margin-bottom:2rem;
  }
  .newsCat1 {
    background-color:rgb(115, 215, 251);
  }
  .newsCat2 {
    background-color:rgb(251, 115, 251);
  }
  .newsCat3 {
    background-color:rgb(189, 252, 101);
  }
  .newsCat4 {
    background-color:rgb(174, 115, 251);
  }
}

#addNews {
  cursor:pointer;
  width:7rem;
  height:2.5rem;
  border:1px solid red;
  border-radius:2rem;
  background-color:red;
  padding:0.5rem;
  margin-left:4rem;
  margin-top:4rem;
}
#addNewsString {
  display:inline-block;
  width:17rem;
  margin-top:4rem;
  padding:0.5rem;
  border:1px solid red;
  border-radius:3rem;
  background-color:pink;
}
